@charset "utf-8";

$s: 200px;
* {
	margin: 0px;
	padding: 0px;
}
.parent {
	width: $s;
	height: $s;
	background: red;
}
.child {
	width: $s / 2;
	height: $s / 2;
	background: green;
}
.child-child {
	width: $s / 4;
	height: $s / 4;
	background: yellow;
}